Repository ProjectLighthouseCAU/luna, pull requests merged in 2025-02, with the labels that each got.

#48 Implement Admin management UI
  src/components/Display.tsx
  src/components/UserAddModal.tsx
  src/components/UserDeleteModal.tsx
  src/components/UserDetailsModal.tsx
  src/components/UserEditModal.tsx
  src/components/UserModal.tsx
  src/components/UserSnippet.tsx
  src/contexts/api/auth/AuthContext.tsx
  src/contexts/api/auth/convert.ts
  src/contexts/api/auth/generated.ts
  src/contexts/api/auth/types/CreateOrUpdateRegistrationKeyPayload.ts
  src/contexts/api/auth/types/CreateOrUpdateRolePayload.ts
  src/contexts/api/auth/types/CreateOrUpdateUserPayload.ts
  src/contexts/api/auth/types/RegistrationKey.ts
  src/contexts/api/auth/types/Role.ts
  src/contexts/api/auth/types/Token.ts
  src/contexts/api/auth/types/User.ts
  src/contexts/api/model/ModelContext.tsx
  src/routes/admin.tsx
  src/screens/home/admin/MonitorView.tsx
  src/screens/home/admin/RegistrationKeysView.tsx
  src/screens/home/admin/RolesView.tsx
  src/screens/home/admin/UsersView.tsx
  src/screens/home/displays/DisplayInspector.tsx
  src/screens/home/displays/DisplayInspectorInputCard.tsx
  src/screens/home/sidebar/SidebarRoutes.tsx
Labels: enhancement

#60 Clean up the monitoring view
  src/components/Display.tsx
  src/contexts/api/model/types/LaserMetrics.ts
  src/screens/home/admin/MonitorInspector.tsx
  src/screens/home/admin/MonitorInspectorLampsCard.tsx
  src/screens/home/admin/MonitorInspectorRoomCard.tsx
  src/screens/home/admin/MonitorInspectorTable.tsx
  src/screens/home/admin/MonitorInspectorValue.tsx
  src/screens/home/admin/MonitorView.tsx
  src/utils/vec2.ts
Labels: enhancement

#66 Implement resources view
  package-lock.json
  package.json
  src/contexts/api/model/ModelContext.tsx
  src/screens/home/admin/MonitorView.tsx
  src/screens/home/admin/ResourcesContentsView.tsx
  src/screens/home/admin/ResourcesToolbar.tsx
  src/screens/home/admin/ResourcesTreeView.tsx
  src/screens/home/admin/ResourcesView.tsx
  src/utils/result.ts
Labels: enhancement

#69 Implement resource editing
  package-lock.json
  package.json
  src/components/ContextMenu.tsx
  src/components/SearchBar.tsx
  src/components/SimpleEditForm.tsx
  src/contexts/api/model/ModelContext.tsx
  src/screens/home/admin/ResourcesContentsView.tsx
  src/screens/home/admin/ResourcesTreeView.tsx
  src/screens/home/admin/ResourcesView.tsx
Labels: documentation, admin

#70 Improve resource context menu
  src/components/ContextMenu.tsx
  src/contexts/api/model/ModelContext.tsx
  src/screens/home/admin/ResourcesTreeView.tsx
Labels: enhancement, admin

#71 Fix monitoring cards layout on smaller devices
  src/screens/home/admin/MonitorView.tsx
Labels: admin

#75 Add support for mouse, keyboard and controller input
  package-lock.json
  package.json
  src/App.tsx
  src/components/BooleanCheck.tsx
  src/components/BooleanChip.tsx
  src/components/ObjectInspectorTable.tsx
  src/components/ObjectInspectorValue.tsx
  src/components/RouteLink.tsx
  src/constants/LocalStorageKey.ts
  src/contexts/api/model/ModelContext.tsx
  src/contexts/env/ClientIdContext.tsx
  src/hooks/useEventListener.ts
  src/screens/home/admin/MonitorInspectorLampsCard.tsx
  src/screens/home/admin/MonitorInspectorRoomCard.tsx
  src/screens/home/admin/MonitorInspectorValue.tsx
  src/screens/home/admin/MonitorView.tsx
  src/screens/home/admin/ResourcesContentsView.tsx
  src/screens/home/admin/ResourcesTreeView.tsx
  src/screens/home/admin/ResourcesView.tsx
  src/screens/home/displays/DisplayInspector.tsx
  src/screens/home/displays/DisplayInspectorInputCard.tsx
  src/screens/home/displays/DisplayView.tsx
  src/screens/home/displays/helpers/InputConfig.ts
  src/screens/home/displays/helpers/InputState.ts
  src/utils/motion.ts
  src/utils/vec2.ts
Labels: enhancement, displays
